<h4>Edit Article </h4>

<%= form_for(@article, url: url_for(controller: 'articles', action: 'update')) do |f| %>

Title <%= f.text_field :title %> <br>
Content <%= f.text_field :content %> <br>
<%= f.submit %>

<% end %>


</form>